<div class="clear-content-area">
  <div class="d-none d-md-block" *ngIf="!isLoading">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngIf="useStudentRegisterAction">
        <a class="nav-link" [routerLink]="['semester']" routerLinkActive="active"
         [translate]="'Registrations.RegistrationSemester'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['courses']"
         routerLinkActive="active"
         [translate]="'Registrations.RegistrationCourses'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['list']" routerLinkActive="active"
         [translate]="'Registrations.RegistrationList'"></a>
      </li>
      <li *ngIf="supportedBookDeliveriesService" class="nav-item">
        <a class="nav-link" [routerLink]="['books']" routerLinkActive="active"
         [translate]="'Registrations.BooksInfo'"></a>
      </li>
    </ul>
  </div>
  <div class="d-sm-block d-md-none d-lg-none">
    <ul class="nav bg-white d-flex justify-content-around s--nav-tabs">
      <li class="nav-item" *ngIf="useStudentRegisterAction">
        <a class="nav-link text-dark font-sm" routerLinkActive="active"
          title="{{ 'Registrations.RegistrationSemester' | translate}}"
          [routerLink]="['semester']"
          [translate]="'Registrations.RegistrationSemesterShort'"
        >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-sm" routerLinkActive="active"
          title="{{ 'Registrations.RegistrationCourses'| translate}}"
          [routerLink]="['courses']"
          [translate]="'Registrations.RegistrationCoursesShort'"
        >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-sm" routerLinkActive="active"
          title="{{ 'Registrations.RegistrationList'| translate}}"
          [routerLink]="['list']"
          [translate]="'Registrations.RegistrationListShort'"
        >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-sm" routerLinkActive="active"
          title="{{ 'Registrations.RegistrationList'| translate}}"
          [routerLink]="['books']" 
          [translate]="'Registrations.BooksInfo'"
        >
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
