.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  min-width: 13rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.grades-statbox {
  /* position: relative; */
  display: flex;
  height: 185px;
  width: 185px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.grades-chart {
  position: relative;
}

.grades-content {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-65%); */
}

canvas.grades-chart {
  @media screen and (min-width: 768px) {
    z-index: 100!important;
  }
  @media screen and (max-width: 575px) {
    z-index: initial!important;
  }
}

.dropdown-divider {
  border-top: 1px solid #c2cfd6 !important;
}
