@import "node_modules/@universis/theme/scss/bootstrap/variables";
.card-icon {
  font-size: 7em;
  color: $gray-300;
}
.text-loading {
  span::content {
    max-width: 100%;
    background: darken($white,5%);
    color: darken($white,5%);
  }
}
